
 /* footer */
 
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
/* home page */

.homepage {
  padding-top: 30px;
}

.welcome-hero {
  background: url("../images/pancakes.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 71vh;
}

.quotes-panel {
  text-align: center;
}

.card-panel.welcome-quote-panel {
  background-color: #3e2723;
  
}

/* recipes page */

.card {
  margin-top: 20px;
  padding: 10px;
}

/* full recipe page */


/* general */

.row {
  margin-bottom: 0;
}


/* media queries */

@media (min-width: 1200px) {
  .card {
    width: 300px;
  }
}