
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
.card {
  margin-top: 20px;
  padding: 10px;
}


/* media queries */

@media (min-width: 1200px) {
  .card {
    width: 300px;
  }
}