/* home page */
.nav-wrapper {
  background-color: #131b23;
  border-bottom: #f05d23 2px solid;
}

nav .brand-logo,
nav a {
  text-transform: uppercase;
}

.homepage {
  padding-top: 30px;
}

/* background image on home page */
.welcome-hero {
  background-color: #131b23;
  background: url("../images/pancakes.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 71vh;
}

/* welcome message panel on home page */

.home-card-panel {
  background-color: #f05d23;
  color: #131b23;
  border-radius: 20px;
}

.homepage-welcome-button {
  background-color: #131b23;
  color: #f05d23;
  margin-top: 15px;
  border-radius: 8px;
}

/* quotes panel on home page */

.quotes-panel {
  text-align: center;
}

.welcome-quote-panel {
  background-color: #131b23;
  color: #f05d23;
  padding: 10px !important;
}

.row {
  margin-bottom: 0;
}

.carousel.carousel-slider {
  top: 210px;
}

/* recipes page */

.card {
  margin-top: 20px;
  padding: 10px;
}

/* login page */

.login-form {
  margin-bottom: 190px;
}

 /* footer */
 
 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer{
  background-color: #131b23;
  border-top: #f05d23 2px solid;
  text-transform: uppercase;
}

.footer-copyright {
  background-color: #131b23 !important;
}

/* media queries */

@media (min-width: 1200px) {
  .card {
    width: 300px;
  }
}