{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Recipes</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipes') }}">
        <!-- recipe name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="name" name="name" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="name">Recipe Name</label>
            </div>
        </div>
        <!-- recipe ingredients -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="ingredients" name="ingredients" minlength="5" maxlength="200"
                    class="materialize-textarea"></textarea>
                <label for="ingredients">Recipe ingredients</label>
            </div>
        </div>
        <!-- recipe method -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="method" name="method" minlength="5" maxlength="200"
                    class="materialize-textarea"></textarea>
                <label for="method">Recipe Method</label>
            </div>
        </div>
        <!-- recipe prep time-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="prep_time" name="prep_time" minlength="5" maxlength="50" type="text"
                    class="datepicker validate" required>
                <label for="prep_time">Recipe Preparation Time</label>
            </div>
        </div>
        <!-- recipe cook time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="cook_time" name="cook_time" minlength="5" maxlength="50" type="text" validate" required>
                <label for="cook_time">Recipe Cooking Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="image" name="image" type="url" validate" required>
                <label for="image">Recipe Image</label>
            </div>
        </div>



        <!-- <div class="col-12 font-weight-bolder">
            <label class="form-label" for="image">
                <i class="fas fa-image"></i> Your Image Url here:</label>
            <input class="form-control mb-3" id="image" name="image" type="url"
                placeholder="Use a valid URL for the picture of the dish." minlength="5">
        </div> -->



        <!-- <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <input id="recipe_image" name="recipe_image" minlength="5" maxlength="50" type="i" class="validate" required>
            <label for="recipe_image">Recipe Image</label>
        </div>
    </div> -->

        <!-- is urgent toggle -->
        <!-- <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="is_urgent">
                        <input type="checkbox" id="is_urgent" name="is_urgent">
                        <span class="lever"></span>
                        Is Urgent
                    </label>
                </div>
            </div>
        </div> -->
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}