<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="twitter:card">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://i.imgur.com/dp5MQVY.png">
    <meta name="twitter:image:alt" content="An image showing this website on multiple screen sizes"> 
    <meta property="og:type" content="article"/> 
    <meta name="image" property="og:image" content="https://i.imgur.com/dp5MQVY.png">
    <meta property="og:image:alt" content="An image showing this website on multiple screen sizes"/>
    <meta property="og:url" content="https://manni8436.github.io/MS3-Project/"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:title" content=""/>
    <meta name="author" content="Emanuel Silva">
    <meta property="og:description" content=""/>
    <link rel="canonical" href="https://manni8436.github.io/MS3-Project/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto:wght@500&display=swap"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
  <title>For the Love of Food</title>
</head>
<body>

  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="{{ url_for('get_recipes') }}" class="brand-logo">for the love of food</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">Home</a></li> 
          <li><a href="">Log In</a></li>
          <li><a href="">Log Out</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
      </div>
    </nav>
  </header>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock%}
</body>
</html>