<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A food recipes website that allows you to see recipes and add your own recipes">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="Food, Recipes, Ingredients">
  <meta name="twitter:card">
  <meta name="twitter:title" content="For the Love of Food">
  <meta name="twitter:description" content="information on recipes, detailed information on food and recipes">
  <meta name="twitter:image" content="static/docs/readme_images/ms3-responsive-image.png">
  <meta name="twitter:image:alt" content="An image showing this website on multiple screen sizes">
  <meta property="og:type" content="article"/>
  <meta name="image" property="og:image" content="static/docs/readme_images/ms3-responsive-image.png">
  <meta property="og:image:alt" content="An image showing this website on multiple screen sizes"/>
  <meta property="og:url" content="https://manni8436.github.io/MS3-Project/"/>
  <meta property="og:site_name" content="For the Love of Food"/>
  <meta property="og:title" content="For the Love of Food"/>
  <meta name="author" content="Emanuel Silva">
  <meta property="og:description" content="A food recipes website that allows you to see recipes and add your own recipes"/>
  <link rel="canonical" href="https://manni8436.github.io/MS3-Project/">
  <link rel="manifest" href="../static/favicon/site.webmanifest" crossorigin="use-credentials">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto:wght@500&display=swap">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
      crossorigin="anonymous" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  {% block styles %}
  {% endblock %}
  <title>For the Love of Food</title>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <!-- top navbar -->
        <a href="{{ url_for('recipes') }}" class="brand-logo">for the love of food</a>
        <a href="{{ url_for('recipes') }}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% if session.user %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <li><a href="{{ url_for('profile', user=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_recipes') }}">Add Recipes</a></li>
            <li><a href="{{ url_for('favourites') }}">Favourites</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          {% else %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </div>
      <!-- mobile navbar -->
      <ul class="sidenav" id="mobile-demo">
        {% if session.user %}
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
          <li><a href="{{ url_for('profile', user=session['user']) }}">Profile</a></li>
          <li><a href="{{ url_for('add_recipes') }}">Add Recipes</a></li>
          <li><a href="{{ url_for('favourites') }}">Favourites</a></li>
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
          <li><a href="{{ url_for('login') }}">Log In</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

<div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="row flashes">
          <div class="col s12 m12 l12 offset-m2">
            <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
          </div>  
        </div>
      {% endfor %}
    {% endif %}
  {% endwith%}
</div>

  {% block content %}
  {% endblock %}


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-6 center-align footer-links">
        <ul>
          <li><a class="grey-text text-lighten-3">this site was made for educational purposes only</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-m3 center-align">
        <p class="copyright text-muted">&copy; For The Love Of Food <span id="copyright"></span></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

{% block scripts %}
{% endblock%}
</body>

</html>