{% extends "base.html" %}
{% block content %}

<div class="favourites-hero">
  <div class="container row">
    {% for favourite in user.favourites %}
      {% for recipe in recipes %}
        {% if favourite == recipe._id %}
          <div class="col s12 m9 offset-m2 l4 offset-l1 card">
            <div class="card-image waves-effect waves-block waves-light">
              {% if recipe.image|length %}
                <img class="activator" src="{{ recipe.image }}">
              {% else %}
                <img class="activator" src="../static/images/two-forks.jpg">
              {% endif %}
            </div>
            <div class="card-content">
              <span class="card-title activator text-darken-4">{{ recipe.name }}</span>
              <p><a href="#">For the full recipe click here</a></p>
                <a href="{{ url_for ('delete_from_favourites_page', recipe_id=recipe._id) }}">remove from favourites<i class="material-icons right">favorite</i></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% endblock %}