{% extends "base.html" %}
{% block content %}

<div class="full_recipes-hero">
  <div class="card row full-recipes-card flex-container">
    <div class="col l8">
      <div class="row">
        <div class="col card-image" id="full-recipe-image">
          {% if recipe.image|length %}
          <img src="{{ recipe.image }}">
          {% else %}
          <img src="../static/images/two-forks.jpg">
          {% endif %}
        </div>
        <div class="row" id="full-recipe-title-ingredients">
          <div class="col l6 card-content">
            <h2 class="card-title text-darken-4" id="full-recipe-title">{{ recipe.name }}</h2>
          </div>
          <div class="col l6">
            <ul>
              <h3 class="recipe-ingredients">Ingredients</h3>
              {% for line in recipe.ingredients %}
              <li class="ingredients-list">
                {{line}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col l4">
      <ol>
        <h3 class="recipe-steps">Steps</h3>
        {% for line in recipe.method %}
        <li class="recipe-method">
          {{line}}
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

{% endblock %}