{% extends "base.html" %}
{% block content %}

<div class="welcome-hero">
    <div class="row homepage">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel center-align home-card-panel">
                <div class="row">
                    <h3 class="title">Welcome to For The Love OF Food</h3>
                </div>
                <div class="row">
                    <h5 class="paragraph">A food site for enthusiats</h5>
                </div>
                <div class="row">
                    <h6>Come on in and explore the the world of food</h6>
                </div>
                <div class="row">
                    <a href="{{ url_for('login') }}" class="waves-effect darken-3 btn-large homepage-welcome-button">Login</a>
                </div>
            </div>
        </div>
    </div>

<div class="row carousel-row">
    <div class="carousel carousel-slider">
        {% for quote in quotes %}
        <a class="carousel-item" href="{{ quote.href }}">
            <div class="card-panel welcome-quote-panel">
                <div class="quotes-panel">
                    <h5>"{{ quote.quote }}"</h5><p> by {{ quote.author }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}