{% extends "base.html" %}
{% block content %}

<div class="profile-hero">
  {% for recipe in my_recipes %}
  <div class="container row profile-row">
    <div class="col s12 m6 l3 card">
      <div class="card-image waves-effect waves-block waves-light">
        {% if recipe.image|length %}
          <img class="activator" src="{{ recipe.image }}">
        {% else %}
          <img class="activator" src="../static/images/two-forks.jpg">
        {% endif %}
      </div>
      <div class="card-content">
        <span class="card-title activator text-darken-4">{{ recipe.name }}</span>
        <p><a href="{{ url_for('full_recipes', recipe_id=recipe._id) }}">For the full recipe click here</a></p>
      </div>
        <a href="{{ url_for('edit_recipes', recipe_id=recipe._id) }}" class="btn edit-button">Edit Recipe</a>
        <a class="waves-effect waves-light btn modal-trigger delete-button" href="#modal1{{ recipe._id }}">Delete Recipe</a>
    </div>
  </div>
    <!-- Modal Structure -->
    <div id="modal1{{ recipe._id }}" class="modal">
      <div class="modal-content">
        <h4>Are you sure you want to delete the {{ recipe.name }} recipe?</h4>
        <h5 class="cant-be-undone-header">This action can not be undone!!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-small modal-close modal-cancel-button" onclick="document.getElementById('modal1{{ recipe._id }}').style.display='none'">Cancel</button>
        <a href="{{ url_for('delete_recipes', recipe_id=recipe._id) }}" class="btn-small modal-close waves-effect waves-green btn-flat modal-delete-button">Confirm Delete</a>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}