{% extends "base.html" %}
{% block content %}

<div class="row card-panel grey lighten-5">
  <form action="{{ url_for('search') }}" method="POST" class="col s12">
    <div class="row valign-wrapper center-align">
      <div class="input-field s12 md8">
        <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
        <input type="text" name="query" minlength="3" id="query" class="validate" required>
        <label for="query">Seach recipes</label>
      </div>
      <div class="col s12 m4">
        <a href="{{ url_for('recipes') }}" class="red btn text-shadow">Reset</a>
        <button type="submit" class="light-blue darken-1 btn text-shadow">
          <i class="fas fa-search left"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>

{% for recipe in recipes %}
<!-- {% for ingredient in recipe.ingredients %}
            <p>{{ ingredient }}</p>
          {% endfor %} -->
          
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ recipe.image }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ recipe.name }}<i
          class="material-icons right">more_vert</i></span>
      <p><a href="#">For the full recipe click here</a></p>
      <p> add to favourites<a href={{url_for("save_to_favourites", recipe_id = recipe._id)}}><i
            class="material-icons right">favorite_border</i></a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ recipe.name }}<i class="material-icons right">close</i></span>
      <p>preparation time: {{ recipe.prep_time }}</p>
      <p>cook time: {{ recipe.cook_time }}</p>
    </div>
  </div>

{% endfor %}


{% endblock %}